.general{
    background-color:white;
}

a {
    color: gray;
}

a:visited {
    color: gray;
}

a:hover {
    color: black;
}

p {
    font-family: 'Nunito', sans-serif;
    margin:0px;
    height: 100%;
    width:100%;
    position: relative;
}

ul {
    font-family: 'Nunito', sans-serif;
    margin:0px;
    height: 100%;
    width:100%;
    position: relative;
}